* {
  margin: 0;
  padding: 0;
}
body{
  background: #f1f1f1;
}
.min {
  overflow: hidden;
  margin-top: 61px;
}
#active-nav-ul .active a {
  color: #f65a8a;
  background: rgba(255, 252, 255, 0);
}
#active-nav-ul li a:hover {
  color: #f65a8a;
}
/*用户注册登录*/
.user-panel{
  background: #fff;
  padding-top:20px;
  padding-bottom: 5px;
  margin-bottom: 10px;
  border-radius: 5px;
}
.user-panel .btn{
  width:100%;
}
.user-panel .link{
  margin-top: 10px;
  display: block;
  text-align: right;
}
#user-info{
  padding-left: 20px;
  box-sizing: border-box;
  height: 130px;
}
#user-info .link{
  text-align: left;
}
.user-panel .err{
  height: 30px;
  line-height: 30px;
  padding-left: 10px;
}
/*用户注册登录*/
.col-md-4 .item {
  padding: 0px;
  overflow: hidden;
  margin-bottom: 10px;
}
.col-md-4 .item img {
  width: 100%;
}
.col-md-4 .item:hover {
  box-shadow: 0 5px 5px;
}
.panel-default > .panel-heading {
  background: transparent;
}
.panel-footer {
  background: transparent;
}
.panel-footer span {
  margin-left: 2px;
}
.panel-heading a {
  text-decoration: none;
  color: #000;
}
.panel-heading a:hover {
  color: #f65a8a;
}
.panel {
  margin-bottom: 20px;
}
.img-circle {
  width: 100px;
  height: 100px;
}
.panel-body {
  position: relative;
}
.panel-body .namew {
  position: absolute;
  right: 150px;
  top: 60px;
  font-weight: bold;
}
.hot-list .panel-body {
  padding-left: 0;
  padding-right: 0;
}
.hot-list .panel-body .list-group-item {
  border: none;
}
.text {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  display: block;
}
.list-group-item a {
  text-decoration: none;
  color: #000;
}
.list-group-item a:hover {
  color: #f65a8a;
}
.footer {
  text-align: center;
}
.footer a {
  text-decoration: none;
}
