/*
* @Author: TomChen
* @Date:   2019-04-09 20:06:03
* @Last Modified by:   TomChen
* @Last Modified time: 2019-04-14 10:48:19
*/
*{
	margin: 0;
	padding: 0;
}
li{
	list-style: none;
	float: left;
	margin-right: 10px;
}
.nav{
	height: 40px;
	margin-bottom: 20px;
}

.Login{
	width: 300px;
	margin: 100px auto;
	background: rgba(0,0,0,0.8);
	padding: 20px;
	box-sizing: border-box;
	box-shadow: 0px 5px 5px rgba(0,0,0,0.5);
	border-radius: 5px;
}
.Login .login-form-button{
	width: 100%;
}
.ant-table-content {
    min-height: 600px;
    margin-top: 20px;
}