
/*头部*/
.top{
	background: #333333;}
.top .top-nav{

	float: left;}
.top .top-nav .left-ul{
	width: 500px;
	height: 100%;}
.top .top-nav .left-ul .left-ul-li{
	float: left;
	font-size: 12px;
	line-height: 40px;}
.top .top-nav .left-ul .left-ul-li>span{
	color: #383938;
	text-align: center;}
.top .top-car{
	float: right;
	width: 120px;
	background: #424242;}
.top .top-car .car-a{
	display: inline-block;
	width: 100%;
	height: 40px;	
 	line-height: 40px; 
    text-align: center;}
.top .top-car .car-a:hover{
  	color: #ff6700;
  	background: #fff;}
.top .top-car .car-a .car-a-i{
	font-size: 22px;
	vertical-align: -4px;}
.top .top-user{
	float: right;
	width: 176px;
	height: 100%;}
.top .top-user .right-ul{

	margin-left: 25px;}
.top .top-user .right-ul .right-ul-li{
	float: left;
	font-size: 12px;
	line-height: 40px; }
.top .top-user .right-ul .right-ul-li>span{
	color: #383938;
	text-align: center;}

/*导航*/
.header{	

	height: 100px;
}
.header .header-logo{
	float: left;
	margin-top: 25px;
	width: 50px;
	height: 50px;
	box-sizing: border-box;
	background:  #ff6700;
	background-image: url("../images/logo.png");
	background-repeat: no-repeat; 
	background-size: cover;
	text-indent: -999999px;}
.header .header-logo a{
	display: block;
	width: 50px;
	height: 50px;}
.header .header-nav{
	width: 875px;
	height: 100%;
	float: left;
	line-height: 100px;
	box-sizing: border-box;}
.header .header-nav .header-nav-ul{
	width: 770px;
	margin: 0px auto;}
.header .header-nav .header-nav-ul .header-nav-ul-li{
	float: left;
	margin-left: 15px;}
.header .header-nav .header-nav-ul .header-nav-ul-li .header-nav-ul-li-a{
	font-size: 16px;
	color: #333843;}
.header .header-nav .header-nav-ul .header-nav-ul-li .header-nav-ul-li-a:hover{

  	color: #ff6700;}
.header .header-sec{
	float: right;
	position: relative;
	width: 296px;
	height: 49px;
	border-right: none;
	box-sizing: border-box;
	margin-top: 25px;}
.header .header-sec .sec-text{
	float: left;
	box-sizing: border-box;
	outline: none;
	border: 1px solid #e0e0e0;
	text-indent: 10px;
	width: 246px;
	height: 49px;}
.header .header-sec .sec-text:hover {

	border-color: #999;}
.header .header-sec .sec-text:hover + .sec-a{

	border-color: #999;}
.header .header-sec .sec-text:focus {

	border-color: #ff6700;}
.header .header-sec .sec-text:focus + .sec-a{

	border-color: #ff6700;}
.header .header-sec .sec-text:focus ~.text-list{
	position: absolute;
	display: block;
	z-index: 999;}
.header .header-sec .sec-a{
	float: right;
	display: inline-block;
	box-sizing: border-box;
	border:1px solid #e0e0e0;
	border-left: none;
	text-align: center;
	font-size: 20px;
	line-height: 50px;	
	width: 50px;
	height: 100%;}
.header .header-sec .sec-a:hover{
	background: #ff6700;
	color: white;
	border:none;}
.header .header-sec .sec-box{
	position: absolute;
	top: 13px;
	right: 60px;}
.header .header-sec .sec-box .sec-box-a{
	float: left;
	height: 18px;
	margin-left: 10px;
	background: #eeeeee;
	display: inline-block;
	font-size: 12px;
	height: 18px;
	line-height: 18px;}
.header .header-sec .sec-box .sec-box-a:hover{

	background: #ff6700;}
.header .header-sec .text-list{
	display: none;
	position: absolute;
	top:50px;
	left:0;
	width: 246px;
	border: 1px solid #ff6700;
	border-top: none;
	box-sizing: border-box;
	background: #fff;}
.header .header-sec .text-list .text-list-ul-li{
	height: 30px;
	line-height: 30px;}
.header .header-sec .text-list .text-list-ul-li .text-list-ul-li-a{
	display: inline-block;
	width: 100%;
	height: 30px;
	color: #333;
	box-sizing: border-box;
	padding: 0 10px;}
.header .header-sec .text-list .text-list-ul-li .text-list-ul-li-a:hover{

	background: #eee;}
.header .header-sec .text-list .text-list-ul-li .text-list-ul-li-a .span1{
	float: left;
	color: black;	
	margin-left: 14px;}
.header .header-sec .text-list .text-list-ul-li .text-list-ul-li-a .span2{
	float: right;
	color: #b0b0b0;	
	margin-right: 14px;}

.homeb{
	position: fixed;
	top: 0px;
	display: block;
	width: 100%;
	height: 65px;
	background: #fff;
	border: 1px solid #e0e0e0;
	border-width: 1px 0px 1px 0px ;
	/*box-shadow: 20px 20px 20px 20px;*/
	box-sizing: border-box;
	z-index: 999;
}
.homea{
	/*position: static;*/
	width: 100%;
	height: 65px;
	background: #fff;
	border: 1px solid #e0e0e0;
	border-width: 1px 0px 1px 0px ;
	/*box-shadow: 20px 20px 20px 20px;*/
	box-sizing: border-box;
}
.home h2{
	float: left;
	line-height: 65px;
}

.home .home-nav{
	float: right;

}
.home .home-nav .right-ul{
	width: 500px;
	height: 100%;}
.home .home-nav .right-ul .right-ul-li{
	float: right;
	font-size: 12px;
	line-height: 65px;}
.home .home-nav .right-ul .right-ul-li a{
	font-size: 14px;
	color: black;
	opacity: 0.7;
}
.home .home-nav .right-ul .right-ul-li a:hover{
	color: #ff6700;
}
.home .home-nav .right-ul .right-ul-li>span{
	color: #383938;
	text-align: center;}




.main{
	width: 100%;
	/*height: 1000px;*/
	/*background: blue;*/
}
/*.main .left-image{
	float: left;
	position: relative;
	width: 650px;
	height: 520px;
	box-sizing: border-box;
}*/
.main .left-image{
	float: left;
	position: fixed;
	width: 600px;
	height: 520px;
	/*border: 1px solid black;*/
	box-sizing: border-box;
}
.main .left-image .image-la{
	float: left;
	display: block;
	position: relative;
	width: 600px;
	height: 500px;
	transform-style: preserve-3d;
	transform: rotateY(0deg);
	animation: sport 16s linear 0s infinite;
	animation-fill-mode: both;
}

.main .left-image div img{
	position: absolute;
	top: 0;
	left: 0;
	width: 600px;
	height: 500px;
}

@keyframes sport{
	0%,25%{
		transform: rotateY(0deg);
	}
	25.001%,50%{
		transform: rotateY(90deg);
	}
	50.001%,75%{
		transform: rotateY(180deg);
	}
	75.001%,100%{
		transform: rotateY(270deg);
	}
}
.main .left-image div img:nth-child(1){
	transform: translateZ(300px);
}
.main .left-image div img:nth-child(4){
	transform: translateX(300px) rotateY(90deg);
}
.main .left-image div img:nth-child(3){
	transform: translateZ(-300px) rotateX(180deg) rotateZ(180deg);
}
.main .left-image div img:nth-child(2){
	transform: translateX(-300px) rotateZ(180deg) rotateX(180deg) rotateY(90deg);
}

.main .left-image .arow{
	width: 40px;
	height: 70px;
	color: #9c9c9c;
	font-weight: bold;
	text-align: center;
	line-height: 70px;
	z-index: 888;}
.main .left-image .arow:hover{

	background: gray;	}
.main .left-image .left-arow{
	position: absolute;
	left: 0px;
	top: 40%;	}
.main .left-image .right-arow{
	position: absolute;
	right: 0px;
	top: 40%;	}
.main .left-image .arow i{
	font-size: 20px;
}
.main .left-image .bottom-button{
	display: block;
	width: 300px;
	height: 20px;
	/*background: blue;*/
	position: absolute;
	left: 30%;
	bottom: 0;
	margin-left: -40px;
}
.main .left-image .bottom-button input{
	width: 50px;
	height: 1.5px;
	margin-left: 20px;
}
.main .left-image .bottom-button a:hover input{
	border-color: rgb(163,163,163);
}



.main .right-content{
	float: right;
	display: block;
	width: 620px;
	margin-left: 450px;
	box-sizing: border-box;

}
.main .right-content .right-header{
	width: 100%;
	height: 170px;
	border: 1px solid #e0e0e0;
	border-top-width: 0px;
	border-left-width: 0px;
	border-right-width: 0px;
	margin-bottom: 40px;
}
.main .right-content .right-header h2{
	font-size: 26px;
	margin-bottom: 10px;
}
.main .right-content .right-header p{
	font-size: 14px;
	color: #acacac;
	margin-bottom: 20px;
}
.main .right-content .right-header .s1{
	display: block;
	font-size: 14px;
	color: #ff6700;
	margin-bottom: 20px;
}
.main .right-content .right-header .s2{
	font-size: 20px;
	color: #ff6700;
}
.main .right-content .right-sec{
	width: 100%;
	/*height: 1270px;*/
	border: 1px solid #e0e0e0;
	margin-bottom: 10px;
}


.main .right-content .right-sec .sec-address{
	width: 100%;
	height: 105px;
	margin-bottom: 40px;
	border: 1px solid #e0e0e0;
}
.main .right-content .right-sec .sec-address p{
	margin-top: 40px;
	margin: 20px 0px 0px 20px;
	font-size: 14px;
}
.main .right-content .right-sec .sec-address p i {
	font-size: 20px;
	vertical-align: -3px;
}
.main .right-content .right-sec .sec-address p a{
	font-size: 14px;
	color: #ff6700;
	margin-left: 20px;
}
.main .right-content .right-sec .sec-address strong{
	margin-left: 40px;
	font-size: 14px;
	color: #ff6700;
}
.main .right-content .right-sec .sec-Edition{
	width: 100%;
	height: 170px;
	margin-bottom: 40px;
	/*border: 1px solid #e0e0e0;*/
}
.main .right-content .right-sec .sec-Edition h3{
	font-size: 18px;
	margin-bottom: 20px;
}
.main .right-content .right-sec .sec-Edition a{
	float: left;
	display: block;
	width: 300px;
	height: 45px;
	color: black;
	box-sizing: border-box;
	border: 1px solid #e0e0e0;
	margin-bottom: 20px;
	line-height: 45px;
	padding: 0px 40px 0px 40px;
}
.main .right-content .right-sec .sec-Edition a span{
	float: right;
	color: #acacac;
}
.main .right-content .right-sec .sec-Edition a:nth-child(3){
	margin-left: 20px;
}
.main .right-content .right-sec .sec-Edition a:nth-child(5){
	margin-left: 20px;
}
.main .right-content .right-sec .sec-color{
	width: 100%;
	height: 180px;
	margin-bottom: 0px;
	/*border: 1px solid #e0e0e0;*/
}
.main .right-content .right-sec .sec-color h3{
	font-size: 18px;
	margin-bottom: 20px;
}
.main .right-content .right-sec .sec-color a{
	float: left;
	display: block;
	width: 300px;
	height: 45px;
	color: black;
	box-sizing: border-box;
	border: 1px solid #e0e0e0;
	margin-bottom: 20px;
	line-height: 45px;
	padding: 0px 40px 0px 40px;
}
.main .right-content .right-sec .sec-color a img{
	width: 14px;
	height: 18px;
}
.main .right-content .right-sec .sec-protect{
	width: 100%;
	height: 320px;
	margin-bottom: 40px;
	border: 1px solid #e0e0e0;
}
.main .right-content .right-sec .sec-protect .header h3{
	font-size: 18px;
}
.main .right-content .right-sec .sec-protect .header a{
	float: right;
	color: #ff6700;
	font-size: 14px;
	margin-top: -20px;
}
.main .right-content .right-sec .sec-protect a{
/*	width: 605px;
	height: 150px;*/
	/*border: 1px solid #ff6700;*/
}
.main .right-content .right-sec .sec-Guarantee{
	width: 100%;
	height: 180px;
	margin-bottom: 40px;
	border: 1px solid #e0e0e0;
}
.main .right-content .right-sec .sec-Total{
	width: 100%;
	height: 120px;
	margin-bottom: 40px;
	border: 1px solid #e0e0e0;
}

.main .right-content .evaluate{
	width: 100%;
	height: 160px;
	border: 1px solid #e0e0e0;
	border: 1px solid #e0e0e0;
}



.flotter{
	/*height: 277px;*/
	/*background: black;*/}
.flotter .fw{
	width: 100%;
	height: 80px;
	border-style: solid;
	border-top-width: 1px;
	border-bottom-width:1px; 
	border-left-width: 0px;
	border-right-width: 0px;
	border-color:#d8d6d6;
	box-sizing: border-box;}
.flotter .fw .fw-d{
	float: left;
	width: 20%;
	height: 25px;
	padding-top: 27.5px;
	text-align: center;}
.flotter .fw .fw-d a{
	display: inline-block;
	width: 100%;
	font-size: 16px;
	line-height: 25px;
	border-style: solid;
	border-top-width: 0px;
	border-bottom-width:0px; 
	border-left-width: 0px;
	border-right-width: 1px;
	border-color:#d8d6d6;	
	box-sizing: border-box;
	color: #7c7a87;}
.flotter .fw .fw-d a i{
	font-size: 25px;
	vertical-align: -5px;
	margin-right: 5px;}
.flotter .fw .fw-d a:hover{

	color: #ff6700;}
.flotter .fw .fw-d:nth-child(5) a{

	border-right-width: 0px;	}
.flotter .dy{
	width: 100%;
	height: 197px;
	padding: 42px 0px 42px 0px;
	box-sizing: border-box;}
.flotter .dy dl{
	float: left;
	width: 162.5px;
	height: 100%;
	box-sizing: border-box;}
.flotter .dy dl dt{
	width: 100%;
	height: 14px;
	font-size: 14px;
	margin-bottom: 20px;
	color: black;	}

.flotter .dy dd{
	width: 60px;
	height: 13px;
	margin-bottom: 10px;}
.flotter .dy dd a:hover{

	color: #ff6700;}
.flotter .dy .phone{
	float: right;
	width: 250px;
	height: 100%;
	border-style: solid;
	border-top-width: 0px;
	border-bottom-width:0px; 
	border-left-width: 1px;
	border-right-width: 1px;
	border-color:#d8d6d6;

	box-sizing: border-box;
	text-align: center;}
.flotter .dy .phone .phone-num{
	color: #ff6700;
	font-size: 18px;
	margin-bottom: 5px;}
.flotter .dy .phone p{
	font-size: 13px;
	color: #7c7a87;}
.flotter .dy .phone .phone-p1{

	margin-bottom: 3px;}
.flotter .dy .phone .phone-p2{

	margin-bottom: 15px;}
.flotter .dy .phone  a{
	display: inline-block;
	width: 120px;
	height: 30px;
	color: #ff6700;
	line-height: 30px;
	border: 1px solid #ff6700;
	box-sizing: border-box;
	transition: background 0.2s linear;}
.flotter .dy .phone a:hover{
	background: #ff6700;
	color: white;
	border-color: white;}
.bottom{
	/*height: 163px;*/
	padding-top: 27px;
	padding-bottom: 27px;}
.bottom .end-log{
	float: left;
	width: 55px;
	height: 55px;
	background: #ff6700;}
.bottom .end-middle{
	float: left;
	width: 700px;
	height: 110px;
	margin-left: 10px;
	/*border: 1px solid black;*/}
.bottom .end-middle .end-middle-box .end-nav{

	position: relative;}
.bottom .end-middle .end-middle-box a{
	float: left;
	display: block;
	color: #7c7a87;
	margin-left: 8px;}
.bottom .end-middle .ab {

	float: left;}
.bottom .end-middle .end-middle-box .right-s-line:after{
	position: absolute;
	left: -4px;
	top: 3px;
	display: block;
	content: "";
	width: 1px;
	height: 13px;
	background: black;
	opacity: 0.3;}
.bottom .end-middle .end-middle-box .right-s-line:nth-child(1):after{

	width: 0px;}
.bottom .end-middle a:hover{

	color: #ff6700;}
.bottom .end-middle p{
	float: left;
	font-size: 10px;
	color: #a3a7a9;}
.bottom .end-right{
	float: right;
	width: 420px;
	height: 35px;}
.bottom .end-right img{
	width: 80px;
	height: 30px;}