* {
  margin: 0;
  padding: 0;
}
#box1 {
  width: 500px;
  color: #ffff00;
  height: 200px;
  border: 1px solid auto;
  background: #808080;
  text-align: center;
  line-height: 200px;
  border-radius: 50px;
}
#box2 {
  width: 500px;
  color: #ffff00;
  height: 200px;
  border: 1px solid auto;
  background: #808080;
  text-align: center;
  line-height: 200px;
  border-radius: 50px;
}
#box4 {
  width: 0;
  height: 0;
  overflow: hidden;
  border-style: solid;
  border-width: 50px;
  border-color: #ff0000 transparent transparent transparent;
}
/*
	该注释可以被保留
*/
.list li {
  height: 100px;
  width: 500px;
}
.list li a {
  float: left;
  color: yellow;
  text-decoration: none;
  font-size: 15px;
}
.list li span {
  float: right;
  font-size: 20px;
}
.list li:hover {
  background: #ffff00;
}
#box4 {
  width: 200px;
}
